<h2>Make a new friend <%= link_to 'New Friend', new_friend_path, class: 'new-friend' %></h2>
<h1><%= @user.id %></h1>
<section id="friends">
  <%= render @friends %>
</section>


<% if @user.admin == true %>
  hello!!!
<% end %>
