this is the show

<h1><%= @order.id %></h1>


<hr>
<!-- This is for order -->
<div class="">
  <h1>SHIRT FORUM</h1>
  <form action="/shirts" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    NAME:  <input type="text" name="name" value="">
    complete: <input type="text" name="complete">
    date: <input type="text" name="date">
      order_id: <input type="text" name="order_id" value="<%= @order.id %>"</h1>">
    <div class="row center aligned button-pad">
    <input class="btn waves-effect waves-light black hidebutton" type="submit">
  </form>
    <a id="hidebut" class="btn waves-effect waves-light black hidebutton">Close</a>
    </div>
</div>


<hr>
<!-- this displays the orders created by the users -->
<% @shirts.each do |x| %>
  <% if x.order_id  == @order.id %>
   <div class="card col s5 offset-s1 card-size">
    <div class="card-reveal">
    name <%= x['name'] %> <br>
    complete<%= x['complete'] %><br>
    id <%= x['id'] %><br>
    order id <%= x['order_id'] %><br>
      <%= link_to "Remove Order", x, method: :delete %>
    <br>
    </div>
  </div>
  <br>
  <% end %>
<% end %>
