/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require reset
*/
.new-order-box-content{
  display:none;
}
.img-background{
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  height: 110vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* margin-left: -150px; */
  position: absolute;
  left: -2%;
  top: 0;
  padding: 0 20px;
}

.shipping-field{
  display: none;
  width: 800px;
  position: relative;
}

.order-container {
    width:80%;
    margin: auto;
}


.order-container-content {
    width: 250px;
    display:inline-block;
    box-sizing: border-box;
    padding: 1%;
    margin-left: 20px;

}

.order-container-content > div {
    height:200px;
}

.avatar-box{
  width:200px;
  height:200px;
  overflow:hidden;
}

.previous-order-details-container{
  width:200px;
  height:200px;
  border: 1px solid black;
  padding: 87px;
}

.file-container{
  display: none;
}

.order-form-container{
  display:none;
}

.order-form-container-content{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.order-container-content-border{
  width: 250px;
  display:inline-block;
  box-sizing: border-box;
  padding: 1%;
  margin: 10px;
  margin-left: 20px;
  position: relative;
}

.order-container-content-border > .shirt-content {
    height:200px;
    border: 1px solid black;
    padding: 10px;
}
.order-container-content-border > .shirt-footer {
    text-align: center;
}
